@font-face {
  font-family: circular;
  src: url('./assets/CircularStd-Black.678b81a5.ttf');
}

@font-face {
  font-family: oranged;
  src: url('./assets/orange.ttf');
}

@font-face {
  font-family: myfont;
  src: url(./assets/fontweb.ttf);
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}


.bg-grid {
            position: absolute;
            inset: 0;
            background-image: 
                linear-gradient(rgba(255, 255, 255, 0.02) 1px, transparent 1px),
                linear-gradient(90deg, rgba(255, 255, 255, 0.02) 1px, transparent 1px);
            background-size: 60px 60px;
            animation: gridMove 20s linear infinite;
            z-index: 1;
        }

        @keyframes gridMove {
            0% { transform: translate(0, 0); }
            100% { transform: translate(60px, 60px); }
        }
html,body{
  width: 100%;
  height:100%;
  scroll-behavior: smooth;
  font-family: myfont;
}

#root{
  width: 100%;
  height:100%;
}

body::-webkit-scrollbar{
  width:8px;
  background-color: slategray;
}

body::-webkit-scrollbar-thumb{
  background-color: #217281;
}

::selection{
  user-select: none;
}

#projectscroll::-webkit-scrollbar{
  height:1.2vh;
  background-color: rgb(137, 148, 158);
}

#projectscroll::-webkit-scrollbar-thumb{
  background-color: #217281;;
}

textarea {
  resize: none;
}

.name h1{
  font-family:oranged;
}

